C/Arvore binaria/a.exe
C/Grafo/a.exe
C/Hash table/a.exe
C/Fila/a.exe
C/Pilha/a.exe

C/Listas/Encadeada/a.exe
C/Listas/Duplamente encadeada/a.exe
C/Listas/Duplamente encadeada circular/a.exe
C/Listas/Encadeada circular/a.exe

C/Trabalho hospital/a.exe
C/Trabalho hospital/IssacNewton.exe

Java/Lista/Duplamente encadeada/Duplamente_encadeada.class
Java/Lista/Duplamente encadeada/Item_lista.class
Java/Lista/Duplamente encadeada/Lista.class

Java/Lista/Duplamente encadeada circular/Duplamente_encadeada_circular.class
Java/Lista/Duplamente encadeada circular/Item_lista.class
Java/Lista/Duplamente encadeada circular/Lista.class

Java/Lista/Encadeada/Encadeada.class
Java/Lista/Encadeada/Item_lista.class
Java/Lista/Encadeada/Lista.class

Java/Lista/Encadeada circular/Encadeada_circular.class
Java/Lista/Encadeada circular/Item_lista.class
Java/Lista/Encadeada circular/Lista.class

Java/Fila/FilaMain.class
Java/Fila/Fila.class
Java/Fila/Item_fila.class

Java/Pilha/PilhaMain.class
Java/Pilha/Pilha.class
Java/Pilha/Item_pilha.class

Java/Arvore Binaria/Main_arvoreBinaria.class
Java/Arvore Binaria/Arvore.class
Java/Arvore Binaria/Item_arvore.class